*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}



.button{
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1rem;
    width: 200px;

}


.button--hack{
    transform: translateZ(0);
}

.button--hack::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transform: scaleX(0);
    opacity: 0;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.3s;


}

.button--hack:hover::after{
    transform: scaleX(1);
    opacity: 1;

}


